.following-feed {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-snap-points-y: repeat(100%);
    max-height: calc(100vh - 100px);
    width: 100%;
}

.following-feed::-webkit-scrollbar {
    display: none;
}

.following-feed {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.following-feed>* {
    scroll-snap-align: start;
    flex-shrink: 0;
    height: calc(100vh - 190px);
}

.following-feed-row {
    display: flex;
    justify-content: space-around;
}