.shared-song-card {
    background-color: #000;
    color: #fff;
    padding: 20px;
    border: 1px solid #333;
    border-radius: 15px;
    width: 400px;
    transition: box-shadow .4s;
    margin-bottom: 20px;
    position: relative;
}


.image-container {
    width: 100%;
    padding-bottom: 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}

.image-container img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.user-details {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.user-details:hover {
    cursor: pointer;
}

.user-details img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 8px;
}

.shared-by {
    font-size: 14px;
    color: #aaa;
}

.shared-song-card h3 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
    margin-top: 20px;
}

.shared-song-card p {
    color: #aaa;
}

.shared-song-card .caption {
    margin-top: 10px;
}

.shared-song-card .caption p {
    font-size: 14px;
    color: #777;
}

.plus-button {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #000;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.plus-button:hover {
    transform: scale(1.12);
}

.spotify-button {
    right: 10px;
    bottom: 70px;
    position: absolute;
    display: inline-block;
    background-color: #1DB954;
    /* Spotify green */
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    text-decoration: none;
    border-radius: 20px;
    font-weight: bold;
    transition: transform 0.3s ease-in-out;
}

.spotify-button:hover {
    transform: scale(1.05);
}

.song-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}