.heart-clicked {
    animation: heartClick 0.3s;
}

@keyframes heartClick {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }
}

.cross-clicked {
    animation: crossClick 0.3s;
}

@keyframes crossClick {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }
}

.card-container {
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 400px;
    height: 580px;
    max-width: 100%;
    margin: 0 auto;
    transition: box-shadow .4s;
}

.card-container:hover {
    cursor: pointer;
}


.image-container {
    width: 100%;
    padding-bottom: 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}

.image-container img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.card-container {
    border-radius: 15px;
    overflow: hidden;
}

.card-container .rhap_container {
    background-color: #f3f3f3;
    box-shadow: none;
    border-radius: 15px;
}

.card-container .rhap_progress-container {
    background-color: #e0e0e0;
}

.card-container .rhap_progress-filled {
    background-color: #3f51b5;
}

.card-container .rhap_controls-section {
    justify-content: center;
    flex-wrap: wrap;
}

.card-container .rhap_additional-controls {
    display: none;
}

.card-container .rhap_main-controls {
    order: 1;
    width: 100%;
    justify-content: center;
}

/* Add the following styles */

.icon-container {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
}

.icon {
    font-size: 24px;
    margin-bottom: 10px;
    cursor: pointer;
}

.fade-in {
    animation: fadeIn 1.5s ease-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.connect-spotify-button {
    background-color: #1db954;
    color: #fff;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
    display: block;
}


.rswp__active._InfoRSWP.__107yxqe {
    display: none;
}

.rswp__active._InfoRSWP.__1m4nls5 {
    display: none;
}

._VolumeInlineRSWP.__53ysj svg:first-of-type {
    display: none;
}

.rswp__toggle._ControlsButtonRSWP.__3hmsj {
    display: block;
}

._ControlsButtonRSWP.__3hmsj {
    display: none;
}

._ControlsRSWP.__11aa6ep {
    justify-content: center;
    align-items: center;
    width: 100%
}

._ActionsRSWP.__1irer0f {
    display: none;
}

.rswp__active._InfoRSWP.__7cu1cx {
    display: none;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 500px;
}

.marquee {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.marquee:hover {
    text-overflow: clip;
    animation: marquee 10s linear infinite;
}

@keyframes marquee {
    from {
        text-indent: 0%
    }

    to {
        text-indent: -100%
    }
}