.heart-clicked {
    animation: heartClick 0.3s;
}

@keyframes heartClick {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }
}

.cross-clicked {
    animation: crossClick 0.3s;
}

@keyframes crossClick {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }
}

.card-container {
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

}

.image-container {
    width: 100%;
    padding-bottom: 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}

.image-container img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-container {
    border-radius: 15px;
    overflow: hidden;
}

.card-container .rhap_container {
    background-color: #f3f3f3;
    box-shadow: none;
    border-radius: 15px;
}

.card-container .rhap_progress-container {
    background-color: #e0e0e0;
}

.card-container .rhap_progress-filled {
    background-color: #3f51b5;
}

.card-container .rhap_controls-section {
    justify-content: center;
    flex-wrap: wrap;
}

.card-container .rhap_additional-controls {
    display: none;
}

.card-container .rhap_main-controls {
    order: 1;
    width: 100%;
    justify-content: center;
}

/* Add the following styles */

.icon-container {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
}

.icon {
    font-size: 24px;
    margin-bottom: 10px;
    cursor: pointer;
}